body{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}
.orange{
  color:#ff9900;
}
.blue{
  color:#007aff;
}
.white{
  color:white;
}
.navy-blue{
  color:#232f3e;
}
.red{
  color:red;
}
.orange-background{
  background-color:#ff9900;
}
.blue-background{
  background-color:#007aff;
}
.navy-blue-background{
  background-color:#232f3e;
}
.btn-orange{
  background-color:#ff9900;
  color:white;
  border:none;
  padding:10px 15px;
  font-weight:300;
  font-size:16px;
}
.btn-orange:hover{
  background-color:#ff9900;
  opacity:0.8;
  color:white;
}
h1,h2,h3,h4,h5,h6{
  font-weight:400;
}

/* HEADER */

header{
  height:90px;
  line-height:90px;
}
header .logo{
  float:left
}
header .logo img{
  max-width:100%;
}
header .logo{
  max-width:50%;
}
header nav{
  float:right;
}

/* MAIN */

main{
  padding:25px 0px;
}
main h1{
  text-align:center;
  margin-bottom:25px;
}

/* FOOTER */

footer{
  text-align:center;
  padding:25px 15px;
  color:white;
  font-size:12px;
}
footer img{
  margin-bottom:10px;
}
